*{
    padding: 0;
    margin: 0;
}
.nav{
    background-color: #177e89;
    padding: 5px 0px;
}
.nav-item{
    background-color: #177e89;
}
.nav-link{
    color: #fff;
    padding: 0.5rem 1.5rem;
    transition: 0.5s ease-in-out;
}
.nav-link:hover{
    background-color : #fff !important;
    color: #323031 !important;
}
.nav-link.active{
    background-color : #fff !important;
    color: #323031 !important;
    
}
.card{
    margin: auto;
    margin-top: 25vh;
}
.card-body,.card-title,.card-text{
    background-color: #fff;
}